.banner{
    height: 100%;
    position: relative;
    background: url('https://a0.muscache.com/im/pictures/166791ff-bc82-4b88-ba3d-49be1d462dce.jpg?im_w=2560');
    background-size: cover;
    background-position: center;
}

.banner__info {
    background-color: black;
    color: white;
    padding: 15vh 50px 40px 50px;
    width: 500px;
}

.banner__info > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}


.banner__info > button:hover {
    background-color: white;
    color: #ff7779;
}

.banner__info > h5 {
    margin-top: 10px;
}

.banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
}

.banner__search {
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 930px) {
    .banner__info {
        width: 50vw;
        padding: 40px;
        /* height: 100px; */
    }

    .banner__info > h5{
        font-size: 14px;
    }

    .banner__info > h1 {
        font-size: 18px !important;
    }

    .banner__info > button {
        font-size: 14px !important;
    }
}