.citySelected {
    position: absolute;
    z-index: 99;
    background-color: white;
    border-radius: 10px;
    box-shadow:0 0px 80px rgba(0, 0, 0, 0.13);
    left: 210px;
}

.citySelected__ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 130px;
    text-align: center;
    
}

.citySelected__ul > li {
    margin-top: 5px;
    margin-bottom: 10px;
    /* border-bottom: 1px solid lightgray; */
    cursor: pointer;
}