.citySelected {
    position: absolute;
    z-index: 99;
    background-color: white;
    border-radius: 10px;
    box-shadow:0 0px 80px rgba(0, 0, 0, 0.13);
    left: 210px;
}

.citySelected__form {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 10px;
    width: 170px;
    text-align: center;
    
}

.citySelected__form > div{
    margin: 8px;
    display: flex;
    align-content: flex-start;
    vertical-align: top;

}

.citySelected__form > div > input {
    flex: 0.2;
}

.citySelected__form > div > label {
    flex: 0.8;
}