.home__section {
    display: flex;
    padding: 30px;
    justify-content: space-between;

}

@media only screen and (max-width: 770px) {
    .home__section {
        flex-direction: column;
    }
} 