.roomsAndBeds {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 99;
    width: 30vw;
    border: black 1px solid;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.roomsAndBedsSelectButton {
    margin-top: 15px !important;
    background-color: black !important;
    color: white !important;
}

.roomsAndBedsSelectButton:hover {
    background-color: rgb(126, 126, 126) !important;
    color: black !important;
}