.search {
    position: absolute !important;
    top: 35px;
    left: 100px;
    /* transform: translate(550px, 35px); */
    width: 1vw;
    z-index: 99;
    background-color: blue;
}

.search > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 558px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    top: 340px;
}

.search > input {
    width: 558px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 388px;
    border: none;
    /* background-color: violet; */
}

.search > input:focus {
    outline: 0;
}

.search > button {
    position: absolute;
    left: 0;
    top: 427px;
    text-transform: inherit !important;
    background-color: #ff7779;
    color: white;
    width: 558px;
}

.search > button:hover {
    background-color: white;
    color: #ff7779;
}

@media only screen and (max-width: 680px) {
    .search {
        left: 0px;
    }
}

@media only screen and (max-width: 570px) {
    /* .search  {
        overflow-y: scroll;
    } */
}